<div>
    <p class="sidebar-title">Verfügbare Platzhalter</p>
    <div class="placeholder-list">
        <div class="placeholder-list-entry"
             *ngFor="let placeholder of placeholderList"
             [terra-draggable]
             [terra-draggable-data]="{placeholder: placeholder[0]}"
             (terra-draggable-onStart)="onStart( $event )"
             (terra-draggable-onMove)="onMove( $event )"
             (terra-draggable-onEnd)="onEnd( $event )">
            {{ placeholder[1] }}
        </div>
    </div>

    <div class="placeholder-caret"
         *ngIf="caretPos"
         [style.height.px]="caretPos.height"
         [style.top.px]="caretPos.y"
         [style.left.px]="caretPos.x"></div>
</div>


