<div class="select-box-wrapper"
     placement="{{inputTooltipPlacement}}"
     tooltip="{{inputTooltipText}}"
     [isDisabled]="!inputTooltipText"
     [ngClass]="{
                  'error': !isValid,
                  'disabled': inputIsDisabled,
                  'open': toggleOpen
                }"
     (click)="onClick($event)"
     container="body">
    
    <terra-text-input #textInput
                      [inputIsDisabled]="inputIsDisabled"
                      [inputName]="_searchString.length > 0 ? inputName : 'terraLiveSearch.placeholder' | translate:lang:{name: inputName}"
                      (click)="onInputClick($event)"
                      [(ngModel)]="_searchString">
    </terra-text-input>
    
    <!-- suggestions -->
    <div class="select-box-dropdown">
        <span *ngIf="_suggestions.length === 0 && _searchString.length < this._minSearchStringLength && !this._isTyping" (click)="$event.stopPropagation()">
            <i>{{ 'terraLiveSearch.noEntries' | translate:lang }} </i>
        </span>
    
        <span *ngIf="_suggestions.length === 0 && _searchString.length >= this._minSearchStringLength && !service.requestPending && !this._isTyping" (click)="$event.stopPropagation()">
            <i>{{ 'terraLiveSearch.noResults' | translate:lang }} </i>
        </span>
        
        <span *ngFor="let suggestion of _suggestions"
              (click)="select(suggestion)"
              [ngClass]="{active: suggestion.value === selectedValue?.value, selected: suggestion.value === _tmpSelectedValue?.value}">
            <span class="{{suggestion.icon}}" *ngIf="suggestion.icon"></span>
            <span [innerHtml]="suggestion.caption"></span>
        </span>
        
        <span *ngIf="_suggestions.length > 0 && !service.pagingData.isLastPage" (click)="requestNextPage();$event.stopPropagation()">
            <i>{{ 'terraLiveSearch.moreResults' | translate:lang }} </i>
        </span>
    </div>

</div>
