.placeholder {
  background-color: $gray-light-3;
  border-radius: 3px;
  font-family: monospace;
  padding: .1em .5em;
  font-size: .9em;
}

.selected > .placeholder {
  box-shadow: 0 0 1px 1px $brand-primary;
}

[contenteditable] {
  outline: none !important;
}