<div *ngFor="let group of elementGroups">
    <terra-portlet
            [inputPortletHeader]="group.name"
            [isCollapsable]="true"
            [collapsed]="false">

        <div class="element-list-entry"
             *ngFor="let element of group.elements"
             [ia-draggable]
             [ia-draggable-data]="{element: element}"
             (ia-draggable-onStart)="startDrag($event)"
             (ia-draggable-onMove)="handleMove($event)"
             (ia-draggable-onEnd)="stopDrag($event)">
            <span [class]="element.iconClass || 'icon-item'"></span>
            <span>{{ element.name }}</span>
        </div>

    </terra-portlet>
</div>