<div class="terra-view dnd-editor">
    <div class="col-xs-12 col-md-3 col-lg-2 editor-sidebar sidebar-left">
        <dnd-editor-element-list [elementGroups]="config.elementGroups"></dnd-editor-element-list>
        <!--<div [ia-draggable] (ia-draggable-onMove)="dragText($event)">FOO</div>-->
    </div>

    <div class="col-xs-12 col-md-3 col-lg-2 editor-sidebar sidebar-left out" [class.out]="!selectedComponent" #placeholderList>
        <dnd-editor-placeholder-list *ngIf="selectedComponent" [placeholderMap]="config.placeholder" [scope]="selectedElement.scope"></dnd-editor-placeholder-list>
    </div>

    <div class="col-xs-12 col-md-6 push-md-3 col-lg-8 push-lg-2 editor-content">
        <div class="editor-element" [style.width.px]="config.width?.getValue()" [style.height.px]="config.width?.getValue()" #editorContent>
            <ng-content></ng-content>
        </div>
    </div>

    <div class="col-xs-12 col-md-3 col-lg-2 editor-sidebar sidebar-right">
        <p class="sidebar-title">Globale Einstellungen</p>
    </div>

    <div class="col-xs-12 col-md-3 col-lg-2 editor-sidebar sidebar-right out" [class.out]="!selectedComponent" #propertyList>
        <dnd-editor-property-list
                *ngIf="selectedComponent"
                [component]="selectedComponent"
                (componentChange)="updateDocument()"
                [editorElement]="selectedElement">
        </dnd-editor-property-list>

    </div>
</div>