<div class="property-list-input">
    <span *ngIf="value?.length <= 0" class="property-list-placeholder" (click)="addEntry()">
        <span class="label">{{ property.label }}</span>
        <span class="placeholder">Keine Einträge</span>
    </span>
    
    <div *ngFor="let v of value, let i = index; trackBy:trackByFn" class="property-list-entry">
        <dnd-editor-property-input
            [property]="cloneProperty( i )"
            [value]="v"
            (valueChange)="setPropertyValue( i, $event )">
        </dnd-editor-property-input>
        
        <span class="btn btn-primary btn-sm" (click)="removeEntry(i)">
            <span class="icon-listing_remove"></span>
        </span>
    </div>
    
    <span class="btn btn-primary btn-sm pull-xs-right" (click)="addEntry()">
        hinzufügen <span class="icon-listing_create"></span>
    </span>
</div>